<!DOCTYPE html>
<html lang="en">
<head>
    <ul><li>re</li></ul>

</head>
<body>
<ul>
    <li class="red">d</li>
    <li class="red"></li>
    <li class="red"></li>
    <li class="red"></li>
    <li class="red"></li>
    <li class="red"></li>
    <li class="red"></li></ul>

<h1>index</h1>
<!--link to local page-->
<a href="ship-add.html"> link to ship-add</a>
<!--link to external page  и то на нова страница...-->
<a href="https://www.abv.bg/" target="_blank"> link to abv</a>
<!--ЛИНК КЪМ ФАЙЛ ... КОЙТО МОЖЕМ ДА СВАЛИМ  трябва да е в папката с ресурсите-->
<a href="01.%20Introduction-to-HTML-and-CSS-Exercise.docx">link intro fail za svalqne</a>
<!--link Енкър линк за пренасочване към дадена област в страницата ако е сингъл page
 така ще отиде директно на мястото в страницата където пише  about me ...-->
<a href="#about-me-heading"> About me</a>
<!-- СНИМКА КАТО ALT се ПОКАЗВА КАТО НАДПИС АКО САЙТА НЕ МОЖЕ ДА ЗАРЕДИ СНИМКАТА
... ВАЖЕН Е ЗАЩОТО СЪДЪРЖА ОБЯСНЕНИЕ АКО НЕ МОЖЕ ДА ВИДИМ КАКВО Е НА СНИМКАТА ...-->
<img src="attacker.jpg" alt="losho gossho" width="400" height="300">
<!-- снимка от сайт ... с копиране на адреса и-->
<img src="https://images.unsplash.com/photo-1660129803307-6947b76740a4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=631&q=80" alt="nature">
<!-- за триене -->


</body>
</html>